SECRET_KEY=dsd133901&0t_@1u3y4*x8vlj2je
DEBUG=True
ALLOWED_HOSTS=0.0.0.0

DB_NAME=django_db
DB_USER=django_user
DB_PASSWORD=django_password
DB_HOST=postgres
DB_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin